
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.nav-button1 ,.nav-button2 {
    border: none;
    background:none;
    font-weight: bold;
    font-size: 16px;
    color: #9a9a9a;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}



.tasks-info {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}


.section-title {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    color: #000;
}


.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px;
    margin: 0;
}

  
  .card-input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  
  .card-content {
   display: flex;
   flex-direction: column;
   text-align: start;
   gap: 12px;}
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  .card-description {
    font-size: 14px;
    color: #888;
    margin: 5px 0 0 0;
  }
  .day-task , .later-task , .tomorrow-task {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center;
    padding-bottom: 96px;
}

.forday2 , .forday1 ,.forday3{
    padding-bottom: 35px;
    padding-top: 103px;
}
  .card-footer {
    font-size: 12px;
    color: #ffd400;
    margin-top: 10px;
  }